/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #009FFF;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#tutorials {
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
    padding-top: 40px;
    padding-bottom: 40px;
}

#homework {
    background: linear-gradient(to right, #f7ff00, #db36a4);
    padding-top: 40px;
    padding-bottom: 40px;
}

#inspiration {
    background: linear-gradient(to right, #b24592, #f15f79);
    padding-top: 40px;
    padding-bottom: 40px;
}