.container {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: grid;
    overflow: hidden;
    grid-template-areas: "header header header"
                         "left mid right";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr 1fr;
 }
 .cell-1 {
    background: #845ec2;
    grid-area: header;

 }
 .cell-2 {
    background: #d65db1;
    grid-area: left;
 }
 .cell-3 {
    background: #ff6f91;
    grid-area: mid;
 }
 .cell-4 {
    background: #ff9271;
    grid-area: right;
 }
 .cell {
    color: white;
    font-size: 2.5rem;
    font-family: Courier;
    text-align: center;
 }

 a {
    font-size:1.5rem;
    color: white;
  }