.container {
    height: 100vh;
    width: 100vw;
    /*margin: 2rem auto;*/
    display: grid;
    grid-template-areas: "header header"
                         "left right"
                         "footer footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
 }
 .cell-1 {
    background: #6300A7;
    grid-area: header;
 }
 .cell-2 {
    background: #A62098;
    grid-area: left;
 }
 .cell-3 {
    background: #D5546E;
    grid-area: right;
 }
 .cell-4 {
    background: #F58C46;
    grid-area: footer;
 }
 .cell {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    /*padding: 4rem;*/
 }

 a {
    font-size:20px;
    color: white;
  }