h4 {
    font-size: 1.1em;
}

h1 {
    margin-left: 4%;
}

.multipleSelection {
            width: 38vw;
            background-color: #B3E0C1;
        }
  
        .selectBox {
            position: relative;
            width: 38vw;
        }
  
        .selectBox select {
            width: 38vw;
            font-weight: bold;
        }
  
        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
  
        #checkBoxes {
            display: none;
        }
  
        #checkBoxes label {
            display: block;
        }
  
        #checkBoxes label:hover {
            background-color: #B3E0C1;
        }

        body {background-color: #C1D5F5;
            width: 99%;
        /* color: #22402B; */
        }

        #recipes {
            display: flex;
            width: 99%;
            /* align-items: center;
            justify-items: center; */
            /* padding: 5%; */
            flex-direction: row;
            flex-wrap: wrap;
            overflow-wrap: break-word;
            float: center;
            justify-content: space-around;
        }

        #submit_search {
            font-size: 24px;
            align-items: center;
        }

        .recipe-card {
            background-color: #B3E0C1;
            border-radius: 25px;
            width: 27%;
            /*height: 60vh;*/
            margin-bottom: 5vh;
            margin-top: 5vh;
/*             min-height: 600px;
            max-height: 600px; */


            /* margin: 2%; */
            
        }

        .recipe_ingreds {
            position: relative;
            text-align: center;
        }

        img {
            width: 80%;
            border-radius: 25px;
            align-items: center;
            justify-items: center;
            position: relative;
            margin-top: 10%;
            margin-left: 10%;
            margin-right: 10%;

        }

        #recipe_link {
            align-items: center;
            justify-items: center;
            position: relative;
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 12%;
            font-size: 1.25vw;
        }

#initial_steps {
    margin-left: 4%;
    width: 60%;

}



#restrict {
    font-weight: normal;
}



@media only screen and (max-width: 1000px) {
    #initial_steps {
        margin-left: 4%;
        width: 80%;
        
    }

    .multipleSelection {
        width: 70vw;
        background-color: #B3E0C1;
    }

    .selectBox {
        position: relative;
        width: 70vw;
    }

    .selectBox select {
        width: 70vw;
        font-weight: bold;
    }

    .recipe-card {
        background-color: #B3E0C1;
        border-radius: 25px;
        width: 40%;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }

    #recipe_link {
        align-items: center;
        justify-items: center;
        position: relative;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 12%;
        font-size: 2.1vw;
    }
}

@media only screen and (max-width: 600px) {
    #initial_steps {
        margin-left: 4%;
        width: 85%;
        
    }

    .multipleSelection {
        width: 75vw;
        background-color: #B3E0C1;
    }

    .selectBox {
        position: relative;
        width: 75vw;
    }

    .selectBox select {
        width: 75vw;
        font-weight: bold;
    }

    .recipe-card {
        background-color: #B3E0C1;
        border-radius: 25px;
        width: 80%;
        margin-bottom: 5vh;
        margin-top: 5vh;
        
    }

    #recipe_link {
        align-items: center;
        justify-items: center;
        position: relative;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 12%;
        font-size: 5vw;
    }
}