/* h2 {
            color: #22402B;
        } */
  
        .multipleSelection {
            width: 400px;
            background-color: #B3E0C1;
        }
  
        .selectBox {
            position: relative;
			width: 100%;
        }
  
        .selectBox select {
            width: 100%;
            font-weight: bold;
        }
  
        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
  
        #checkBoxes {
            display: none;
        }
  
        #checkBoxes label {
            display: block;
        }
  
        #checkBoxes label:hover {
            background-color: #B3E0C1;
        }

        body {background-color: #C1D5F5;
            width: 99%;
        /* color: #22402B; */
        }

        #recipes {
            display: flex;
            width: 99%;
            align-items: center;
            justify-items: center;
            /* padding: 5%; */
            flex-direction: row;
            flex-wrap: wrap;
            overflow-wrap: break-word;
            float: center;
            justify-content: space-around;
        }

        #submit_search {
            font-size: 24px;
            align-items: center;
        }

        .recipe-card {
            background-color: #B3E0C1;
            border-radius: 25px;
            width: 27%;
            height: 60vh;
            margin-bottom: 5vh;
            margin-top: 5vh;

            /* margin: 2%; */
            
        }

        .recipe_ingreds {
            position: relative;
            text-align: center;
        }

        img {
            width: 80%;
            border-radius: 25px;
            align-items: center;
            justify-items: center;
            position: relative;
            margin-top: 10%;
            margin-left: 10%;
            margin-right: 10%;
            border: 3% #C1D5F5;
        }

        #recipe_link {
            align-items: center;
            justify-items: center;
            position: relative;
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;

        }

        #step_1 {
            width: 40%;
        }

